/*
		FONTS
		========================== */
@font-face {
  font-family: "Proxima-Bold";
  src: url("fonts/prxma-bold.otf") format("opentype");
}
@font-face {
  font-family: "Proxima-Regular";
  src: url("fonts/prxma-regular.otf") format("opentype");
}
@font-face {
  font-family: "Proxima-Light";
  src: url("fonts/proximanova-light-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("fonts/Raleway-Bold.ttf") format("truetype");
}
/*
	GLOBAL
	========================== */
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: "Proxima-Regular", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* clear flaot nicholas gallagher*/
.cf:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both;
}

b {
  font-family: "Proxima-Bold", sans-serif;
}

.expand-codebox {
  position: absolute;
  display: block;
  right: 0;
  right: 10px;
  top: 50%;
  transform: translate(0%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.expand-codebox-light {
  background-image: url("../img/expand.png");
  opacity: .3;
}

.expand-codebox-dark {
  background-image: url("../img/expand-dark.png");
}

.expand-class {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5000;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.expand-class-light {
  background-color: #fafafa;
}
.expand-class-light pre {
  height: 100vh;
}

.close-codebox {
  position: fixed;
  top: 30px;
  right: 40px;
  display: block;
  cursor: pointer;
  background-image: url("../img/cancel.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 24px;
}

.close-codebox-dark {
  background-image: url("../img/cancel-dark.png");
}

#integrationPage {
  background-color: #fff;
}

.logo {
  height: 75px;
  line-height: 75px;
  /* border-bottom: 1px solid #dbdbdb; */
  margin: 0;
  background: #f5f5f5;
  position: relative;
}
.logo a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 93px;
  height: 30px;
  background-image: url("../img/logo.png");
  display: block;
  /* margin: 0 auto; */
  position: relative;
  top: 44%;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  /* margin: 0 auto; */
  background-position: 10px cente;
  margin-left: 22px;
  /* opacity: 0.3; */
  position: relative;
  top: 41px;
}
.logo span {
  position: absolute;
  width: 50%;
  top: 0;
  font-size: 14px;
  right: 25px;
  text-align: right;
  font-family: "Proxima-Bold", sans-serif;
  padding-top: 2px;
  opacity: .9;
  color: #000000;
}

.integration-page-wrapper {
  /* max-width: 1100px; */
  margin: 0 auto;
}

.table-of-contents {
  width: 300px;
  float: left;
  background-color: #f5f5f5;
  min-height: 100vh;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  top: 0;
  overflow-y: scroll;
}

.integration-right {
  float: left;
  width: 900px;
  max-width: calc(100% - 300px);
  height: 100vh;
  padding: 40px 40px 40px 50px;
  width: auto;
  margin-left: 280px;
}

.table-pixel-integration {
  padding-left: 20px;
}
.table-pixel-integration ul {
  list-style: disc;
}
.table-pixel-integration ul li {
  list-style: none;
  padding: 6px 0;
  position: relative;
}
.table-pixel-integration ul li i {
  content: "";
  display: block;
  height: 5px;
  width: 5px;
  background-color: #364956;
  border-radius: 50%;
  left: -20px;
  top: 10px;
  position: relative;
}

.integration-table-of-contents ul li a {
  text-decoration: none;
  color: #444a64;
  font-family: "Proxima-Bold", sans-serif;
  font-size: 14px;
}
.integration-table-of-contents ul li > ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.integration-right ul li {
  display: inline-block;
}
.integration-right ul li a {
  text-decoration: none;
  color: #333;
  padding: 15px 20px;
  font-family: "Proxima-Bold", sans-serif;
  font-size: 14px;
  display: block;
  background-color: #00A3D3;
  color: #fff;
  letter-spacing: .03em;
}

ul li a {
  text-decoration: none;
  color: #333;
}

.table-list-big > li > a {
  display: block;
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
  font-size: 14px;
  font-family: "Proxima-Bold", sans-serif;
  position: relative;
  border-top: 1px solid #ececec;
  margin-top: 30px;
}
.table-list-big > li:first-of-type > a {
  border-top: none;
}
.table-list-big > li:last-of-type > a {
  border-bottom: 1px solid #ddd;
}
.table-list-big > li > a:hover {
  text-decoration: none;
  color: #000;
}
.table-list-big:first-of-type > li > a {
  margin-top: 0;
}
.table-list-big > li:last-of-type > a {
  border-bottom: none;
}
.table-list-big > li > a b {
  font-family: "Proxima-Bold", sans-serif;
}
.table-list-big > li > a.active {
  position: relative;
  border-bottom: 1px solid transparent;
}
.table-list-big > li > a ~ ul {
  padding-bottom: 20px;
}
.table-list-big > li > a .glyphicon {
  position: absolute;
  font-size: 7px;
  right: 20px;
  top: 50%;
  margin-top: -5px;
  background-color: #DEDEDE;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  border-radius: 50%;
  color: #A09F9F;
  border: 1px solid transparent;
}
.table-list-big > li > a .arrow-menu {
  position: absolute;
  font-size: 7px;
  right: 20px;
  top: 50%;
  margin-top: -5px;
  background-color: #F5F5F5;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  border-radius: 50%;
  color: #A09F9F;
  border: 1px solid transparent;
  background-image: url("../img/arrow-bottom.png");
  background-repeat: no-repeat;
  background-position: 3px center;
}
.table-list-big > li > a.active .arrow-menu {
  background-image: url("../img/arrow-top.png");
}
.table-list-big > li > a.active .glyphicon {
  background-color: #FFFFFF;
  line-height: 12px;
  border: 1px solid #A2A2A2;
  color: #A2A2A2;
  font-size: 7px;
}

.table-list-medium {
  padding-left: 30px;
  display: none;
}

.table-list-medium > li > a {
  color: #565454;
  font-weight: bold;
  font-size: 13px;
  padding-left: 15px;
  margin-top: 14px;
  display: block;
  font-family: "Proxima-Light", sans-serif;
}
.table-list-medium .active {
  padding-top: 0px;
  position: relative;
  color: #383A3C;
}
.table-list-medium li > a {
  color: #383A3C;
  font-family: "Roboto-Light", sans-serif;
}
.table-list-medium .active > a {
  color: #565454;
}
.table-list-medium .active .table-list-small {
  border-left: 1px dotted #aaa;
}
.table-list-medium .table-list-small {
  padding-top: 20px;
  display: none;
}
.table-list-medium .table-list-small {
  padding-top: 0;
  margin-left: 20px;
}
.table-list-medium > li {
  position: relative;
}

.section-link-medium.active > .arrow-menu {
  color: #fff;
  line-height: 13px;
  background-image: url("../img/arrow-top.png");
}
.section-link-medium.active ~ .table-list-small {
  border-left: 1px dashed #ccc;
}
.section-link-medium > .arrow-menu {
  display: inline-block;
  height: 12px;
  width: 12px;
  font-size: 5px;
  border-radius: 50%;
  line-height: 15px;
  text-align: center;
  margin-right: 10px;
  position: relative;
  top: -2px;
  background-image: url("../img/arrow-bottom.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.table-list-small > li > a {
  color: #444a64;
  padding-left: 40px;
  display: block;
  padding: 0px 0 8px 30px;
  position: relative;
  font-family: serif;
}
.table-list-small > li > a:before {
  content: "";
  display: block;
  width: 15px;
  height: 1px;
  border: 1px dashed #ccc;
  position: absolute;
  left: 5px;
  top: 10px;
}
.table-list-small > li:first-of-type > a {
  margin-top: 5px;
}
.table-list-small > li:last-of-type > a {
  padding-bottom: 0;
}

/* integration right */
.integration-right {
  font-family: "Roboto-Light", sans-serif;
  font-size: 15px;
}
.integration-right h2 {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 28px;
  padding-bottom: 00px;
  padding-top: 0px;
}
.integration-right h3 {
  font-family: "Raleway-Bold", sans-serif;
}
.integration-right p {
  line-height: 25px;
  margin: 20px 0 0px 0;
  color: #555;
}

.standard-integration-wrapper {
  max-width: 900px;
}
.standard-integration-wrapper b {
  font-family: "Roboto-Light", sans-serif;
  font-weight: normal;
  letter-spacing: .02em;
  font-size: 14px;
}

.codeheader {
  padding: 8px 5px 8px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  background-color: #23272D;
  color: white;
  font-family: "Raleway-Bold", sans-serif;
  position: relative;
}
.codeheader span {
  display: block;
  background-color: #4DA2E7;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 13px;
}
.codeheader .js-code {
  background-color: #5FB784;
  width: 40px;
  text-align: center;
}

p.step-container {
  color: #31363E;
  padding: 10px 10px 10px 49px;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: 14px;
}
p.step-container .step {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  color: #fff;
  background: #9CA4B1;
  font-family: "Proxima-Bold", sans-serif;
  width: 22px;
  height: 22px;
  line-height: 23px;
  text-align: center;
  display: block;
  border-radius: 50%;
  font-size: 12px;
}

.codebox-main {
  padding: 0px 0px 0px 0;
  font-family: Courier, sans-serif;
  font-size: 13px;
  color: #4A4545;
  background-color: #31363e;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
  margin-bottom: 10px;
}

.codebox pre {
  padding-left: 4.5em;
  position: relative;
  color: #D4CCCC;
}
.codebox pre:after {
  background-color: #2c3037;
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A 10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A 18.\A 19.\A 20.\A 21.\A 22.\A 23.\A 24.\A";
  left: 0;
  /* padding-right: 0.25em; */
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5875em;
  color: #8a949f;
  font-size: 12px;
  margin-top: 6px;
}

.html-box.codebox pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A 10.\A 11.\A 12.\A";
}

.php-box.codebox pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A 10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A 18.\A 19.\A 20.\A 21.\A 22.\A 23.\A 24.\A 25.\A 26.\A 27.\A 28.\A 29.\A 30.\A 31.\A 32.\A 33.\A 34.\A 35.\A 36.\A 37.\A 38.\A 39.\A 40.\A 41.\A 42.\A 43.\A 44.\A 45.\A 46.\A 47.\A 48.\A 49.\A 50.\A 51.\A 52.\A 53.\A 54.\A 55.\A 56.\A 57.\A 58.\A 59.\A 60.\A 61.\A 62.\A 63.\A 64.\A 65.\A 66.\A 67.\A 68.\A";
}

.java-box.codebox {
  padding-top: 30PX;
}
.java-box.codebox pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A 10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A 18.\A 19.\A 20.\A 21.\A 22.\A 23.\A 24.\A 25.\A 26.\A 27.\A 28.\A 29.\A 30.\A 31.\A 32.\A 33.\A 34.\A 35.\A 36.\A 37.\A 38.\A 39.\A 40.\A 41.\A 42.\A 43.\A 44.\A 45.\A 46.\A 47.\A 48.\A 49.\A 50.\A 51.\A 52.\A 53.\A 54.\A 55.\A 56.\A 57.\A 58.\A 59.\A 60.\A 61.\A 62.\A 63.\A 64.\A 65.\A 66.\A 67.\A 68.\A 69.\A 70.\A 71.\A 72.\A 73.\A 74.\A 75.\A 76.\A 77.\A 78.\A 79.\A 80.\A 81.\A 82.\A 83.\A 84.\A 85.\A 86.\A 87.\A 88.\A 89.\A 90.\A 91.\A 92.\A 93.\A 94.\A";
}

.codeheader .java-code {
  background-color: #0066FF;
}

.copy-code {
  display: block;
  margin-top: 20px;
  text-align: right;
}

.copy-code-btn {
  display: inline-block;
  background-color: #565454;
  border-radius: 4px;
  padding: 10px 10px;
  background-color: #EAA841;
  color: #FFFFFF;
  font-size: 12px;
  letter-spacing: .05em;
  cursor: pointer;
  font-family: "Proxima-Bold", sans-serif;
  color: #FFFFFF;
  background-image: url("../img/copy-icon.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  padding-right: 40px;
}
.copy-code-btn:active {
  box-shadow: none;
}

#table-list-api {
  height: 280px;
  overflow-x: hidden;
}
#table-list-api::-webkit-scrollbar {
  width: 7px;
}
#table-list-api::-webkit-scrollbar-track {
  background-color: #eaeaea;
}
#table-list-api::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
#table-list-api::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.table-of-contents::-webkit-scrollbar {
  width: 7px;
}
.table-of-contents::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
.table-of-contents::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
.table-of-contents::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.php-box.codebox {
  padding-top: 30px;
}

.codeheader .php-code {
  background-color: #B33E3E;
}

.codebox pre::-webkit-scrollbar {
  height: 7px;
}
.codebox pre::-webkit-scrollbar-track {
  background-color: #eaeaea;
}
.codebox pre::-webkit-scrollbar-thumb {
  background-color: #444;
}
.codebox pre::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}

.section-subheading {
  padding: 20px 0 0 0;
  font-size: 19px;
  position: relative;
  color: #555;
  text-decoration: underline;
}

.subsection {
  padding-left: 30px;
}

/* sections */
.event-integration-wrapper {
  border-top: 1px solid #eee;
  margin-top: 90px;
  padding-top: 50px;
  max-width: 900px;
}
.event-integration-wrapper .event-integration-inner {
  padding-left: 30px;
}
.event-integration-wrapper .js-box.codebox pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A 10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A  ";
}
.event-integration-wrapper .html-box.codebox pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A 10.\A 11.\A ";
}

.event-box .codebox-main pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A 10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A";
}

#exampleboxImgid .codebox-main pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A  ";
}

#exampleboxImgjs .codebox-main pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A  10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A  ";
}

#exampleboxImgSwitch .codebox-main pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A  10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A 18.\A 19.\A 20.\A 21.\A 22.\A 23.\A 24.\A 25.\A 26.\A 27.\A 28.\A 29.\A 30.\A 31.\A 32.\A 33.\A 34.\A 35.\A  ";
}

#eventPixBox .codebox-main pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A  10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A 18.\A 19.\A 20.\A  ";
}

#tailorContentBox .codebox-main pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A  10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A 18.\A 19.\A ";
}

#tailorContentBox2 pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A  10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A 18.\A 19.\A 20.\A 21.\A 22.\A 23.\A 24.\A 25.\A 26.\A 27.\A 28.\A 29.\A 30.\A 31.\A 32.\A 33.\A 34.\A 35.\A " !important;
}

#jsonEstate pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A  10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A 18.\A 19.\A 20.\A 21.\A 22.\A 23.\A 24.\A 25.\A 26.\A 27.\A 28.\A 29.\A 30.\A 31.\A 32.\A 33.\A 34.\A 35.\A 36.\A 37.\A 38.\A 39.\A 40.\A" !important;
}

#tailorContentBox10 pre:after {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A  10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A 18.\A 19.\A 20.\A 21.\A 22.\A 23.\A 24.\A 25.\A 26.\A 27.\A 28.\A 29.\A 30.\A 31.\A 32.\A 33.\A 34.\A 35.\A 36.\A 37.\A 38.\A 39.\A 40.\A 41.\A 42.\A 43.\A 44.\A 45.\A 46.\A 47.\A 48.\A 49.\A 50.\A 51.\A 52.\A 53.\A 54.\A 55.\A 56.\A 57.\A 58.\A 59.\A 60.\A" !important;
}


.example-box {
  /* margin-top:20px; */
  margin-bottom: 20px;
}
.example-box .codebox-main {
  background-color: #fefefe;
  color: #000;
}
.example-box.codebox pre {
  color: #333;
  background-color: #fafafa;
}
.example-box.codebox pre:after {
  background-color: #ddd;
  color: #AAA;
}

.example-heading {
  background-color: #DDDDDD;
  margin: 0px 0 0 0;
  border-radius: 3px 5px 0 0;
  padding: 10px 10px;
  color: #2D2D2D;
  font-family: "Proxima-Bold", sans-serif;
  font-size: 16px;
  position: relative;
}
.example-heading span {
  background-color: #B5B5B5;
  border-radius: 0px 50px 50px 0;
  color: #fff;
  font-size: 14px;
  padding: 3px 9px;
}

.example-box.codebox pre::-webkit-scrollbar {
  width: 8px;
}
.example-box.codebox pre::-webkit-scrollbar-track {
  background-color: #eaeaea;
}
.example-box.codebox pre::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
.example-box.codebox pre::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

.table-api {
  display: block;
  width: 100%;
  margin: 3em 0 3em 0;
}
.table-api tbody {
  width: 100%;
}
.table-api th {
  height: 45px;
  text-align: center;
  font-family: "Proxima-Bold", sans-serif;
  color: #fff;
  padding-top: 13px;
  font-size: 14px;
}
.table-api th:nth-of-type(1) {
  width: 15%;
}
.table-api th:nth-of-type(2) {
  width: 20%;
  text-align: left;
}
.table-api th:nth-of-type(3) {
  width: 31%;
  text-align: left;
}
.table-api th:nth-of-type(4) {
  width: 15%;
  text-align: right !important;
  padding-right: 20px;
}
.table-api td {
  padding: 1.1em .8em;
  border-bottom: 1px dashed #ddd;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  background-color: #FDFDFD;
  text-align: left;
  padding-left: 0;
}

.geo-icons {
  text-align: right !important;
}
.geo-icons img {
  width: 20px;
  cursor: pointer;
  opacity: .9;
  margin-left: 2px;
}
.geo-icons img:hover {
  opacity: 1;
}

.table-api tbody tr td:first-of-type {
  font-family: "Proxima-Bold", sans-serif;
  text-align: left;
  padding-left: 15px;
  font-size: 16px;
  background-color: #fdfdfd;
  height: 50px;
  color: #1B1B1B;
}
.table-api thead {
  background-color: #76B161;
  border-radius: 4px 4px 0 0;
}
.table-api thead tr th:first-of-type {
  text-align: left;
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 18px center;
  border-radius: 5px 0 0 0;
}
.table-api thead tr th:last-of-type {
  border-radius: 0px 4px 0px 0px;
}
.table-api tr {
  text-align: center;
}

.event-integration-wrapper .table-heading {
  font-family: "Proxima-Bold", sans-serif;
  text-decoration: underline;
  margin-top: 5em;
}

.examples-wrapper, .api-section-wrapper {
  max-width: 900px;
  border-top: 1px solid #eee;
  margin-top: 90px;
  padding-top: 50px;
}

.usecase-heading {
  font-size: 16px;
  margin-top: 40px;
  font-family: "Proxima-Bold", sans-serif;
}
.usecase-heading span {
  font-family: "Proxima-Bold", sans-serif;
  color: #333;
  border: 1px solid #999;
  border-radius: 40px;
  padding: 4px 10px;
  font-size: 14px;
  margin-right: 10px;
}
.usecase-heading a {
  font-family: "Proxima-Bold", sans-serif;
  padding: 0px 0px;
  margin: 0 5px;
  font-size: 17px;
  text-decoration: underline;
}

.example-image-container {
  margin: 30px 0;
}

.use-case p {
  margin: 30px 0;
}

/* API section */
.api-section-wrapper h4 {
  margin: 35px 0 15px 0;
  border-bottom: 1px solid #eee;
  font-family: "Proxima-Bold", sans-serif;
  font-size: 18px;
  color: #444;
  position: relative;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #fafafa;
  padding-top: 8px;
  padding-left: 20px;
}

.api-icon {
  position: absolute;
  right: 10px;
}

.use-case .example-img-paragraph {
  margin-bottom: 0;
  margin-top: 90px;
  font-size: 18px;
  font-family: "Proxima-Bold", sans-serif;
  color: #000;
  padding-bottom: 30px;
}
.use-case .example-img-paragraph ~ .example-image-container {
  margin-top: 0;
}

.api-section-wrapper .table-api {
  margin-top: 0;
}
.api-section-wrapper .table-api b {
  font-family: "Proxima-Bold", sans-serif;
  padding: 0 3px;
  display: block;
}
.api-section-wrapper .table-api tr td, .api-section-wrapper .table-api tr th {
  text-align: left;
  padding-left: 0;
}
.api-section-wrapper .table-api:first-of-type tr td:nth-of-type(3) {
  padding-left: 0 !important;
}
.api-section-wrapper .table-api:last-of-type tr td:nth-of-type(3) {
  padding-left: 20px;
}
.api-section-wrapper .table-api tr td:nth-of-type(2) {
  padding-left: -12px;
}

.api-section-inner {
  padding-left: 30px;
}

.api-section-wrapper .results-heading {
  padding: 0;
  margin-bottom: 0;
  border: none;
  padding-top: 8px;
}

.headings-api {
  background-color: #fafafa;
  padding-left: 20px;
  position: relative;
}

.api-section-wrapper {
  font-family: "Pxoima-Bold", sans-serif;
  padding-bottom: 80%;
}
.api-section-wrapper h5 {
  margin: 0px 0 15px 0;
  border-bottom: 1px solid #eee;
  font-size: 13px;
  padding-bottom: 8px;
  color: #555;
}
.api-section-wrapper .table-api tr ul li {
  display: block;
  padding: 0px 0;
}
.api-section-wrapper .table-api tr ul li span {
  font-family: "Proxima-Bold", sans-serif;
  display: inline-block;
  width: 12px;
}
.api-section-wrapper .table-api tr td.active-td {
  background-color: rgba(79, 160, 89, 0.1);
}

.use-case h5 {
  padding-bottom: 10px;
}
.use-case h5 b {
  font-size: 22px;
  margin-left: 10px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  border: 1px solid #333;
  border-radius: 50%;
}

.use-case-age:last-of-type img {
  width: 100%;
  height: auto;
}

.active-api-property {
  font-family: sans-serif !important;
  color: #000 !important;
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
}

.api-icon {
  z-index: 10;
  top: 12px;
  right: 9px;
  opacity: .8;
}

/* Banner Examples */
#example3 .use-case-age:last-of-type img {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

::selection {
  background-color: #eee;
  color: #333;
}

/* MOBILE VERSION */
.logo .toggle-icon-mobile {
  display: block;
  height: 32px;
  width: 32px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 10%;
  text-align: center;
  padding-top: 6px;
  position: absolute;
  right: 10px;
  top: 20px;
  display: none;
  background-color: #fff;
}
.logo .toggle-icon-mobile i {
  display: block;
  height: 2px;
  width: 16px;
  margin: 3px auto;
  background-color: #464646;
}
.logo .toggle-icon-mobile i:nth-of-type(1) {
  width: 16pxpx;
}
.logo .toggle-icon-mobile i:nth-of-type(2) {
  width: 20px;
}
.logo .toggle-icon-mobile i:nth-of-type(3) {
  width: 16px;
}

@media screen and (max-width: 1200px) {
  .subsection {
    padding-left: 0px;
  }

  .integration-right {
    padding-left: 40px;
    padding-right: 10px;
  }
}
/* end media 1200 */
@media screen and (max-width: 1024px) {
  .table-of-contents {
    width: auto;
    float: none;
    min-height: 0;
    right: 0;
    bottom: auto;
    border: none;
    z-index: 90;
    position: static;
  }

  .logo {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  .integration-right {
    float: none;
    margin-left: 0;
    width: 100%;
    max-width: none;
    padding: 130px 20px 15px 20px;
  }

  .logo .toggle-icon-mobile {
    display: block;
    right: 20px;
    z-index: 100;
  }

  .table-of-contents-nav {
    display: none;
    padding-top: 75px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 90;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    height: auto;
    max-height: 380px;
    overflow-y: scroll;
  }

  .examples-inner img {
    width: 100%;
    height: auto;
  }

  .table-api thead tr th:last-of-type {
    white-space: nowrap;
  }

  .api-section-inner, .event-integration-wrapper .event-integration-inner {
    padding-left: 0;
  }

  .api-section-wrapper {
    padding-bottom: 50px;
  }

  .table-list-big > li > a .arrow-menu {
    right: 20px;
    background-color: transparent;
  }

  .table-api td {
    padding: 0;
    padding-right: 15px;
    padding-top: 5px;
  }
  .table-api tbody tr td:first-of-type {
    padding-left: 10px;
  }

  .geo-icons img {
    width: 18px;
  }

  .standard-integration-wrapper,
  .event-integration-wrapper,
  .examples-wrapper, .api-section-wrapper {
    margin: 0 auto;
  }

  .close-codebox {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #ccc;
    padding: 15px;
  }

  .codebox-main {
    margin-bottom: 0;
  }

  .close-codebox {
    background-image: url("../img/cancel-dark.png");
    background-size: 10px;
  }
}
/* end media 1024 */
@media screen and (max-width: 769px) {
  .table-api tbody tr td:first-of-type {
    padding-left: 10px;
  }

  .table-api td.geo-icons {
    padding-right: 0;
  }

  .table-api td {
    padding-right: 10px;
  }

  .table-api th:nth-of-type(4) {
    padding-right: 10px;
  }

  .table-api thead tr th:first-of-type {
    padding-left: 10px;
    border-radius: 0;
  }

  .table-api thead tr th:last-of-type {
    border-radius: 0;
  }

  .close-codebox-dark {
    background-size: 10px;
  }

  .table-api td.geo-icons {
    text-align: right;
    position: relative;
  }

  .table-api {
    table-layout: fixed;
    border: 1px solid #eee;
    max-width: 768px;
    overflow: scroll;
    border-radius: 5px;
  }

  .table-api tr {
    overflow: hidden;
    max-width: 738px;
  }

  .integration-right h2 {
    font-size: 25px;
  }

  .integration-right h3 {
    font-size: 18px;
  }

  .usecase-heading {
    text-align: center;
  }

  .usecase-heading span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .integration-right h2,
  .integration-right h3,
  .integration-right p {
    text-align: center;
  }

  .integration-right p.step-container {
    text-align: left;
  }
}
